<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0,width=device-width">
  <script src="https://unpkg.com/alpinejs@3.10.4/dist/cdn.min.js" defer></script>
  <script src="https://cdn.tailwindcss.com/"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Instagram Geo Timeline</title>

<script>
document.addEventListener('alpine:init', ()=>{
		Alpine.store('darkMode', {
				on: false,
				toggle () {
					this.on = !this.on;
					console.log(this.on);
				}
			})
	});
</script>


</head>

<body x-data :class="$store.darkMode.on && 'bg-gray-700'">
  <header class="p-3 shadow-lg bg-gray-100" :class="$store.darkMode.on && 'bg-gray-800 text-white'" x-data>
    <nav class="flex items-center text-center gap-4">
      <h1 class="text-2xl font-medium p-2">Instagram Geo Timeline</h1>
<ul class="flex gap-2">
	<li>
		<a class="p-2 rounded bg-blue-400 hover:bg-blue-500" href="">Home</a>
	</li>
	<li>
		<a class="p-2 rounded bg-blue-400 hover:bg-blue-500" href="">API</a>
	</li>
	<li>
		<a class="p-2 rounded bg-blue-400 hover:bg-blue-500" href="">Contact</a>
	</li>
</ul>
<button x-bind:class="$store.darkMode.on && 'bg-gray-300 hover:bg-gray-200 text-black'" class="rounded hover:bg-gray-800 p-2 bg-gray-700 text-white m-4" @click="$store.darkMode.toggle()">
	<i class="fa-solid fa-moon"></i>
</button>
    </nav>
  </header>
  {%block body%}
  {%endblock%}
<footer x-data :class="$store.darkMode.on && 'bg-gray-800 text-white'" class="p-4 m-4 bg-gray-200 shadow-lg text-center items-center grid grid-cols-3">
	<ul class="items-center text-center">
		<li>
			<a href="1">Home</a>
		</li>
		<li>
			<a href="2">API docs</a>
		</li>
		<li>
			<a href="3">See the source</a>
		</li>
		<li>
			<a href="4">Contact</a>
		</li>
	</ul>
	<ul class="items-center text-center">
		<li>
			<a href="1">About</a>
		</li>
		<li>
			<a href="2">T&C</a>
		</li>
		<li>
			<a href="3">Arnav Ghosh</a>
		</li>
		<li>
			<a href="4">Instagram</a>
		</li>
	</ul>
	<ul class="items-center text-center">
		<li>
			<a href="1">Twitter</a>
		</li>
		<li>
			<a href="2">YouTube</a>
		</li>
		<li>
			<a href="3">Github</a>
		</li>
		<li>
			<a href="4">Email</a>
		</li>
	</ul>
</footer>

</body>

</html>
