{%extends 'base.html'%}
{%block body%}
<script>
	async function grabUserData(username){
			return {}
		}
</script>
<section class="shadow-lg bg-zinc-200 p-5 m-4">
<h1 class="font-medium text-3xl">Instagram Geo Timeline Tracker</h1>
<hr style="color: #000;">
<div class="p-3 gap-2" x-data="{ show_data: false , target:null , data:null}">
	<div id="form" class="p-2 flex gap-4">
		<input class="rounded p-2" type="text" placeholder="Target Username" x-model="target">
		<button @click="show_data=!show_data" class="p-2 bg-zinc-600 text-white rounded hover:bg-zinc-700">
			Start
		</button>
	</div>
	<div x-show="show_data" id="" class="p-3 gap-4"> 
		<h3 class="text-xl">
			Enumeration data on
		<span x-html='target'></span>
		</h3>
<div>
<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><span style="color:#565656">Make this Notebook Trusted to load map: File -> Trust Notebook</span><iframe srcdoc="&lt;!DOCTYPE html&gt;
&lt;head&gt;    
    &lt;meta http-equiv=&quot;content-type&quot; content=&quot;text/html; charset=UTF-8&quot; /&gt;
    
        &lt;script&gt;
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        &lt;/script&gt;
    
    &lt;style&gt;html, body {width: 100%;height: 100%;margin: 0;padding: 0;}&lt;/style&gt;
    &lt;style&gt;#map {position:absolute;top:0;bottom:0;right:0;left:0;}&lt;/style&gt;
    &lt;script src=&quot;https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;https://code.jquery.com/jquery-1.12.4.min.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js&quot;&gt;&lt;/script&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css&quot;/&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css&quot;/&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css&quot;/&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css&quot;/&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css&quot;/&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css&quot;/&gt;
    
            &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no&quot; /&gt;
            &lt;style&gt;
                #map_30ccf4fa70499c99031a0fe13c9c51a5 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            &lt;/style&gt;
        
&lt;/head&gt;
&lt;body&gt;    
    
            &lt;div class=&quot;folium-map&quot; id=&quot;map_30ccf4fa70499c99031a0fe13c9c51a5&quot; &gt;&lt;/div&gt;
        
&lt;/body&gt;
&lt;script&gt;    
    
            var map_30ccf4fa70499c99031a0fe13c9c51a5 = L.map(
                &quot;map_30ccf4fa70499c99031a0fe13c9c51a5&quot;,
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_b31fdbe80ecfdfa0d4817359192f8154 = L.tileLayer(
                &quot;https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png&quot;,
                {&quot;attribution&quot;: &quot;Data by \u0026copy; \u003ca href=\&quot;http://openstreetmap.org\&quot;\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\&quot;http://www.openstreetmap.org/copyright\&quot;\u003eODbL\u003c/a\u003e.&quot;, &quot;detectRetina&quot;: false, &quot;maxNativeZoom&quot;: 18, &quot;maxZoom&quot;: 18, &quot;minZoom&quot;: 0, &quot;noWrap&quot;: false, &quot;opacity&quot;: 1, &quot;subdomains&quot;: &quot;abc&quot;, &quot;tms&quot;: false}
            ).addTo(map_30ccf4fa70499c99031a0fe13c9c51a5);
        
    
            var marker_d03fe6c47d6d9a0d8493ba9d224f11b3 = L.marker(
                [26.752369115053, 88.438997720588],
                {}
            ).addTo(map_30ccf4fa70499c99031a0fe13c9c51a5);
        
    
        var popup_a51efe8508afa1aa9e3743a8168410a7 = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            var html_fa654fd9b73f6b412a0e2f5b8f7b5544 = $(`&lt;div id=&quot;html_fa654fd9b73f6b412a0e2f5b8f7b5544&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;Vega Circle Siliguri-Vega Circle&lt;br&gt;#bochan&lt;br&gt;2022-01-19 18:33:15&lt;/div&gt;`)[0];
            popup_a51efe8508afa1aa9e3743a8168410a7.setContent(html_fa654fd9b73f6b412a0e2f5b8f7b5544);
        

        marker_d03fe6c47d6d9a0d8493ba9d224f11b3.bindPopup(popup_a51efe8508afa1aa9e3743a8168410a7)
        ;

        
    
    
            var marker_29a34f6ac2e2fa6e4cfbb775b7a0a222 = L.marker(
                [26.7227181568, 88.4173311998],
                {}
            ).addTo(map_30ccf4fa70499c99031a0fe13c9c51a5);
        
    
        var popup_67e421860033e013b90a7ae9dc104fb7 = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            var html_0f92b5aa75eeb7a54c23e71dd15e1b38 = $(`&lt;div id=&quot;html_0f92b5aa75eeb7a54c23e71dd15e1b38&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;-Hotel Conclave&lt;br&gt;No caption&lt;br&gt;2021-12-16 14:36:30&lt;/div&gt;`)[0];
            popup_67e421860033e013b90a7ae9dc104fb7.setContent(html_0f92b5aa75eeb7a54c23e71dd15e1b38);
        

        marker_29a34f6ac2e2fa6e4cfbb775b7a0a222.bindPopup(popup_67e421860033e013b90a7ae9dc104fb7)
        ;

        
    
    
            var marker_8c537c6a4ca58501f9815462a3b52247 = L.marker(
                [26.7598521, 88.4292103],
                {}
            ).addTo(map_30ccf4fa70499c99031a0fe13c9c51a5);
        
    
        var popup_a27c5c34da7ed04bf01f6619117ba753 = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            var html_51dd9f3688efebcc3e9e87b95e9e637a = $(`&lt;div id=&quot;html_51dd9f3688efebcc3e9e87b95e9e637a&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;    -Kalkut&lt;br&gt;gcc : Code Compiled successfully #gcc #c++ #thefeeling #lofi&lt;br&gt;2021-10-23 13:15:23&lt;/div&gt;`)[0];
            popup_a27c5c34da7ed04bf01f6619117ba753.setContent(html_51dd9f3688efebcc3e9e87b95e9e637a);
        

        marker_8c537c6a4ca58501f9815462a3b52247.bindPopup(popup_a27c5c34da7ed04bf01f6619117ba753)
        ;

        
    
    
            var marker_2dfacf177ff6efa2de0e7984aa28d1c8 = L.marker(
                [26.7598521, 88.4292103],
                {}
            ).addTo(map_30ccf4fa70499c99031a0fe13c9c51a5);
        
    
        var popup_65933fc68d8cddabee8fe0633441e302 = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            var html_797c2be3703879ac496ee7ce477e3a1b = $(`&lt;div id=&quot;html_797c2be3703879ac496ee7ce477e3a1b&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;    -Kalkut&lt;br&gt;#photography #LofiBack #peace&lt;br&gt;2021-10-12 18:04:33&lt;/div&gt;`)[0];
            popup_65933fc68d8cddabee8fe0633441e302.setContent(html_797c2be3703879ac496ee7ce477e3a1b);
        

        marker_2dfacf177ff6efa2de0e7984aa28d1c8.bindPopup(popup_65933fc68d8cddabee8fe0633441e302)
        ;

        
    
    
            var marker_8220640ae8cd0ca65e8cf4742dbfb35a = L.marker(
                [26.751010765068, 88.586043354297],
                {}
            ).addTo(map_30ccf4fa70499c99031a0fe13c9c51a5);
        
    
        var popup_8050e1011275ff1e4fab750462460194 = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            var html_e2667693a1bf9394b51d8c9389cd73bf = $(`&lt;div id=&quot;html_e2667693a1bf9394b51d8c9389cd73bf&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;-Teesta Dam &lt;br&gt;Glimpses from my next video! Make sure you arw subscribed&lt;br&gt;2021-05-25 11:05:40&lt;/div&gt;`)[0];
            popup_8050e1011275ff1e4fab750462460194.setContent(html_e2667693a1bf9394b51d8c9389cd73bf);
        

        marker_8220640ae8cd0ca65e8cf4742dbfb35a.bindPopup(popup_8050e1011275ff1e4fab750462460194)
        ;

        
    
    
            var marker_df61bad9afbb1998ebd3025f82aa05a7 = L.marker(
                [26.751010765068, 88.586043354297],
                {}
            ).addTo(map_30ccf4fa70499c99031a0fe13c9c51a5);
        
    
        var popup_59b744b914177dfa297a9af4b43eaa5d = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            var html_de1f0ba522f674ca73062d25ca681de3 = $(`&lt;div id=&quot;html_de1f0ba522f674ca73062d25ca681de3&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;-Teesta Dam &lt;br&gt;with @basudha19&lt;br&gt;2020-05-31 19:03:54&lt;/div&gt;`)[0];
            popup_59b744b914177dfa297a9af4b43eaa5d.setContent(html_de1f0ba522f674ca73062d25ca681de3);
        

        marker_df61bad9afbb1998ebd3025f82aa05a7.bindPopup(popup_59b744b914177dfa297a9af4b43eaa5d)
        ;

        
    
&lt;/script&gt;" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe></div></div>
</div>

	</div>
</div>
</section>
{%endblock%}
