{%extends 'base.html'%}
{%block body%}
<script>
	async function grabUserData(username){
			data = null
			await fetch('/api/v1/target?username='+username)
				.then(res => {return res.json})
				.then(res => {data=res})
			return data
		}
</script>
<section class="shadow-lg bg-zinc-200 p-5 m-4">
<h1 class="font-medium text-3xl">Instagram Geo Timeline Tracker</h1>
<hr style="color: #000;">
<div class="p-3 gap-2" x-data="{ show_data: false , target:null , data:null}">

	<div id="form" class="p-2 flex gap-4">
		<input class="rounded p-2" type="text" placeholder="Target Username" x-model="target">
		<button 
				@click="
fetch('/api/v1/target?username='+target).then(res=>{return res.json()}).then(res => {data=res;show_data=true})
" 
				class="p-2 bg-zinc-600 text-white rounded hover:bg-zinc-700"
			>
			Start
		</button>
	</div>
	<div x-show="show_data" id="" class="p-3 gap-4"> 
		<h3 class="text-xl">
			Enumeration data on
		<span x-html='target'></span>
		</h3>
<template x-if="data">
<div x-html="data.location_map.html">

</div>
</template>

	</div>
</div>
</section>
{%endblock%}
